<div class="container">
    <div class="col-md-offset-3 col-md-6">
        <h3>About Us</h3>
    <hr>
        <p class="lead">Who We Are?</p>
        <div class="col-md-offset-2">
        <dl class="dl-horizontal">
            <dt class="text-primary"><h4>Hunter Lang</h4></dt>
            <dd id="hunterabout"><h4><a href="#">Personal Website.</a></h4></dd>
            <dt class="text-success"><h4>Timothy Nygren</h4></dt>
            <dd id="timabout"><h4><a href="#">Personal Website.</a></h4></dd>
            <dt class="text-danger"><h4>Wenjun Ji<h4></dt>
            <dd id="jiabout"><h4><a href="#">Personal Website.</a></h4></dd>
        </dl>
        </div>
    </div>
    
</div>