<div class="container">

      <form class="form-signin">
        <h3 class="form-signin-heading">Please Login</h3>
          <hr>
        <input type="text" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me">Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        <span class = "pull-right"><a href = "#">Register</a></span>
          <span><a href="#">Forget your Password?</a></span>
      </form>

</div>