<div class="container-fluid">
        <div class="row">
            <%= render partial: 'shared/sidebar' %>
            <!-- content begins -->
            <div class="col-sm-10">
                <div id="mySystem">
                    <form class="form-horizontal" role="form">
                        <h3>Add New Item</h3>
			            <hr>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-4 control-label">Name of Item</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputIntroduction" class="col-sm-4 control-label">Dscription of Item</label>
                            <div class="col-sm-6">
                            <textarea class="form-control" rows="5" id="inputIntroduction" placeholder="Please introduce your item"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itempic" class="col-sm-4">Pictures: (jpeg, png, bmp, or gif and 2MB Maximum size)</label>
                            <div class="col-sm-6">
                                <input type="file" id="picture" name="itempic">
                                <input type="file" id="picture" name="itempic">
                                <input type="file" id="picture" name="itempic">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" id="radioBid" value="option1"> For Bidding
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="radioSell" value="option2"> For Auctioning
                                </label>
                            </div>
                        </div>
                        <hr>
			            <div class="row">
				            <div class="col-xs-2 col-sm-offset-4"><input type="submit" value="Add" class="btn btn-primary btn-block btn-lg"></div>
			            </div>
                    </form>
                </div>
            </div>
        </div>
</div>