<div class="container-fluid">
        <div class="row">
            <!-- Sidebar begins -->
            <div class="col-sm-3 col-md-2 sidebar">
                <div id="sidebar-nav">
                    <div id="accounts-menu" class="list-group">
                        <a href="#" class="list-group-item active">
                            <span class="glyphicon glyphicon-user"></span> UserName
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-envelope"></span> Edit Profile
                        </a>
                        <div class = "dropdown">
                             <a href="#" class="list-group-item" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            Notifications <span class = "badge"> 10 </span>
                                 <!--div id ="notice">
                                 <span class = "badge"> 10 </span>
                                 <!--span class="caret"></span-->
                            </a>                            
                        </div>                  
                    </div>
                    <br>
                    <div id="barter-menu">
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-home"></span> Barter System
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-check"></span> Bidding Items
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-share"></span> Auctioning Items
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-bullhorn"></span> Swaping Rules
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-tower"></span> Community
                        </a>
                    </div>
                </div>
            </div><!-- Sidebar ends -->
            <!-- content begins -->
            <div class="col-sm-offset-1 col-sm-8">
            <!-- Edit Profile begins -->
                <h3>Edit Profile <small>username (xxx@mines.edu)</small></h3>
                <hr>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="first" class="col-sm-offset-2 col-sm-2 control-label">First Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="first" name="first" value="first name" autocomplete="off">
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="last" class="col-sm-offset-2 col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="last" name="last" value="last name" autocomplete="off">
                            </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="old" class="col-sm-offset-1 col-sm-3 control-label">Current Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="old" name="old" value autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new" class="col-sm-offset-1 col-sm-3 control-label">New Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="new" name="new">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="old" class="col-sm-offset-1 col-sm-3 control-label">Confirm Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="new_confirm" name="new_confirm">
                        </div>
                    </div>
                    <br>
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span> Save Changes
                        </button>
                    </div>
                </form>
            </div><!-- Edit Profile ends -->
    </div>
</div>
    

