<%= render partial: 'shared/sidebar' %>




<div class="container-fluid">
	<div class="row">
		<h1>Edit item details</h1>
		<%= render 'form' %>

		<%= link_to 'Show', @auction %> |
		<%= link_to 'Back', auctions_path %>
	</div>
</div>

















