<!-- Jumbotron -->
      <div class="jumbotron">
        <h1>THE BARTER SYSTEM</h1>
        <p class="lead">This system is used for mines students. A variety of merchandise is available. </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign Up Today</a></p>
      </div>

<!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
                <%= image_tag('books.jpg') %>
                <div class="caption">
                    <h2>Swap Books</h2>
          <p>You can swap books here.</p>
          <p><a class="btn btn-primary" href="#" role="button">Bid</a>
              <a class="btn btn-primary" href="#" role="button">Sell</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <%= image_tag('Digital_Device.gif') %>
                <div class="caption">
                    <h2>Swap Digital Devices</h2>
          <p>You can swap electronic devices here.</p>
          <p><a class="btn btn-primary" href="#" role="button">Bid</a>
              <a class="btn btn-primary" href="#" role="button">Sell</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <%= image_tag('Minecraft.png') %>
                <div class="caption">
                    <h2>Swap Video Games</h2>
          <p>You can swap video games here.</p>
          <p><a class="btn btn-primary" href="#" role="button">Bid</a>
              <a class="btn btn-primary" href="#" role="button">Sell</a>
                    </p>
                </div>
            </div>
        </div>
      </div>
